{% assign cities = (site.data.cities | where: "city", city) %}
{% for city_data in cities %}
<h2 class="site-description" style="text-align:center;">{{ city_data.phrase }}</h2>
<a href="{{ city_data.meetup_url }}" class="btn" style="width:100%;text-align:center;font-size:1.5em">Attend</a>
{% endfor %}
<h2>Organizers</h2>
<hr/><p></p>
<div class="cards">
{% assign organizers = (site.data.organizers | where: "city", city) %}
{% for organizer in organizers %}
<div class="card">
  <div class="card-face face-1">
    <div class="card-face__avatar">
    <img class="card-image" src="{{ organizer.avatar }}" />
  </div>
    <h2 class="card-face__name">{{ organizer.name }}</h2>
    <span class="card-face__title">
      {{ organizer.city }}
      <br />
      {{ organizer.specialty }}
    </span>
    <div class="card-face-footer">
		<a href="https://linkedin.com/in/{{ organizer.linkedin }}" target="_blank" class="card-face__social">
      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" width="36" height="36" draggable="false"/>
    </a>
		<a href="http://www.meetup.com/{{ organizer.meetup }}" target="_blank" class="card-face__social">
      <img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697072-meetup-128.png" width="36" height="36" draggable="false"/>
    </a>
    <a href="https://github.com/{{ organizer.github }}" target="_blank" class="card-face__social">
      <img src="http://cdn.flaticon.com/png/256/25231.png" width="36" height="36" draggable="false"/>
    </a>
    </div>
  </div>
</div>
{% endfor %}
</div>
<br />
<h2>Hackpad</h2>
<hr/>
{% for city_data in cities %}
<iframe src="https://slack-files.com/{{city_data.slack_post}}" style="border:none;" width="100%" height="100%"></iframe>
<!-- <a href="https://acm.hackpad.com/{{city_data.hackpad_name}}">Edit here.</a> -->
<!-- <script src="https://acm.hackpad.com/{{city_data.hackpad_name}}.js?format=html-notitle"></script> -->

{% endfor %}
