<div class="cards">
{% for organizer in site.data.organizers %}
<div class="card">
  <div class="card-face face-1">
    <div class="card-face__avatar">
    <img class="card-image" src="{{ organizer.avatar }}" />
  </div>
    <h2 class="card-face__name">{{ organizer.name }}</h2>
    <span class="card-face__title">
      {{ organizer.city }}
      <br />
      {{ organizer.specialty }}
    </span>
    <div class="card-face-footer">
		<a href="https://linkedin.com/in/{{ organizer.linkedin }}" target="_blank" class="card-face__social">
      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" width="36" height="36" draggable="false"/>
    </a>
		<a href="http://www.meetup.com/{{ organizer.meetup }}" target="_blank" class="card-face__social">
      <img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697072-meetup-128.png" width="36" height="36" draggable="false"/>
    </a>
    <a href="https://github.com/{{ organizer.github }}" target="_blank" class="card-face__social">
      <img src="http://cdn.flaticon.com/png/256/25231.png" width="36" height="36" draggable="false"/>
    </a>
    </div>
  </div>
</div>
{% endfor %}
</div>
