<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">
{% include navigation.html %}
{% include header.html %}
<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <h1 style="text-align:center">Our Purpose</h1>
      <a name="ourpurpose"><img src="/images/about-acmlocal.jpg"></a>
      <br />
      <p style="text-align:justify">
        <a href="https://acm.org">Association for Computing Machinery</a> is the world’s largest educational and scientific computing society, uniting computing professionals through conferences, publications, special interest groups and local chapters. For over 50 years, ACM has helped computing professionals to be their most creative, connect with peers, and see what’s next, by providing opportunities for life-long learning, career development and professional networking.
      </p>
      <br />
      <h1 style="text-align:center">Be Creative, Get Connected, Keep Inventing</h1>
      <p style="text-align:center">
        ACM Local Meetups are up and running in: <br />
        <a href="cities/new-york-city.html"><b>New York City</b></a>, <a href="cities/chicago.html"><b>Chicago</b></a>, <a href="cities/pittsburgh.html"><b>Pittsburgh</b></a>, <a href="cities/boston.html"><b>Boston</b></a>, <a href="cities/washington-dc.html"><b>Washington DC</b></a><br />
        We're working to establish new Meetups in: <br />
        <b>Los Angeles</b>, <b>Sacramento</b>, <b>Raleigh</b>, <b>Houston</b>
      </p>
      <p>Through ACM Local Meetups, we are helping thousands of smart technical people connect with peers and solve challenges together. Help organize ACM Local Meetups in your city and expand your network. You can get started by contacting Andrew Conklin.</p>
      <div class="list">
        <div class="items">
          <h4>Local Activator</h4>
          <ul>
            <li>Experienced in mapping organizer interests to strong industry connections</li>
            <li>Supported, Orchestrated, or Emcee'ed over 250 Tech Events</li>
            <li>Willingness to roll up sleeves and save veterans time, or help rookies get started</li>
            <li>Real human rapport through calls, video chats, and attending a local city event when possible</li>
          </ul>
        </div>
        {% for staffer in site.data.staffers %}
        <div class="card">
          <div class="card-face face-1">
            <div class="card-face__avatar">
            <img class="card-image" src="{{ staffer.avatar }}" />
          </div>
            <h2 class="card-face__name">{{ staffer.name }}</h2>
            <span class="card-face__title">
              {{ staffer.department }}
              <br />
              <a href=mailto:{{ staffer.email }}> {{ staffer.email }}</a>
              <br />
            </span>
            <div class="card-face-footer">
        		<a href="https://linkedin.com/in/{{ staffer.linkedin }}" target="_blank" class="card-face__social">
              <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" width="36" height="36" draggable="false"/>
            </a>
            <a href="https://github.com/{{ staffer.github }}" target="_blank" class="card-face__social">
              <img src="http://cdn.flaticon.com/png/256/25231.png" width="36" height="36" draggable="false"/>
            </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </article>
</div>

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
